footer {
    background-color: var(--textColor-base);
    color: var(--bgColor-accent);
    scroll-behavior: smooth;
}
.contact {
    text-align: center;
    padding: var(--pd-base) var(--pd-lg) var(--pd-lg) var(--pd-sm);

    h3 {
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 1em;

        span {
            font-size: 64px;
            color: var(--accent);
        }
    }
    .contact-links {
        display: flex;
        justify-content: space-around;
        padding: var(--pd-base) 0;
        a {
            padding: var(--pd-sm) var(--pd-sm) var(--pd-sm) var(--pd-lg);
            width: 350px;
            text-align: left;
            color: var(--bgColor-accent);
            font-size: var(--fs-md);
    
            i {
                padding-right: 1em;
            }
    
        }

        a:hover {
            color: var(--accent);
        }
    }
}

.copyright {
    text-align: center;
    padding: 0 0 1em 0;
    font-size: var(--fs-sm);
}