header {
    height: 100px;
    overflow: hidden;
    
    .header-container {
        position: relative;
        display: flex;
        justify-content:flex-end;
        padding: var(--pd-base) var(--pd-base) var(--pd-sm) var(--pd-base);
        transform: translateY(-100%);
        animation: TopDown 3s .5s ease-in forwards;

        i {
            color: var(--textColor-light);
            color: rgba(154, 154, 154, 0.6);
            //font-weight: 500;
            position: relative;
            z-index: 20;

            &.hidden {
                display: none;
            }
        }
    }

    nav {
        position: absolute;
        top: 0;  
        right: 0;  
        left: 0;
        z-index: 10;

        background-color: var(--bgColor-accent);
        opacity: 1;
        transition: transform .3s ease-out;
        transform: scale(1, 1);
        transform-origin: right;

        &.hidden {
            transform: scale(0, 1);
        }
        
        ul {
            padding: var(--pd-xl) 0 var(--pd-base) 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            
            li {
                display: block;
                margin-bottom: 4em;
                text-align: center;
    
                a.btn {
                    text-transform: capitalize;
                    font-size: var(--fs-base);
                    transition: all .3s ease-in;
                    
                    color: var(--textColor-base);
                    padding: var(--pd-xs) var(--pd-sm);
                    border: 2px solid var(--textColor-base);
                    background-color: var(--bgColor-accent);
                }
  
                a:hover {
                    color: var(--textColor-base);
                }
                
                a:active,
                a:focus {
                    font-weight: 700;
                }
            }
        }


    }
    
    .toggle:hover { 
        cursor: pointer;
    }       

    @media screen and (min-width:768px){
            
        .toggle {
            display: none;
        }

        nav {
            position: static;

            &.hidden {
                transform: scale(1, 1);
                display: block;
            }

            ul {
                flex-direction: row;
                padding: 0;
                
                li {
                    display: inline-block;
    
                    a.btn {
                        border: none;
                        color: var(--textColor-light);
                        font-weight: 400;
                        background-color: var(--bgColor);
                        text-transform: none;
                    }
                }
        
                li + li {
                    margin-left: 2em;
                }
            }

    
        }
    }
}