header {
    .header-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: var(--pd-base);

        i {
            color: var(--textColor-light);

            &.hidden {
                display: none;
            }
        }

        .logo {
            width: 135px;
            font-weight: 400;
            font-size: var(--fs-lg);
    
            hr {
                width: 135px;
                height: 3px;
                background-color: var(--textColor-base);
            }
    
            p {
                position: relative;
                display: inline-block;
                
                span {
                    color: rgb(151, 0, 0);
                    font-size: 50px;
                    position: absolute;
                    top: -32px;
                    right: -15px;
                }
            }
        }
    }

    nav {
        transition: transform .3s ease-out;
        transform: scale(1, 1);
        transform-origin: right;

        &.hidden {
            transform: scale(0, 1);
        }
        
        position: absolute;
        top: 6em;  
        right: 1em;  

        li {
            display: block;
            margin-bottom: 2em;
            text-align: right;

            a {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: var(--fs-sm);
                transition: all .3s ease-in;
                padding: var(--pd-sm);
            }

            a:hover {
                color: var(--textColor-base);
            }
            
            a:active,
            a:focus {
                font-weight: 700;
            }
        }       
    }


    @media screen and (min-width:768px){
        
        .toggle {
            display: none;
        }

        nav {
            position: static;

            &.hidden {
                transform: scale(1, 1);
            }
    
            li {
                display: inline-block;
            }
    
            li + li {
                margin-left: 2em;
            }
        }
    }
}