.hero-section {
    padding: var(--pd-lg);
    padding-bottom: .5em;
    margin-bottom: 8em;

    h1, h2 {
        margin-bottom: .5em;
    }

    h1 {
        font-size: var(--fs-base);
        font-weight: 400;
        margin-bottom: .5em;
    }

    h2 {
        font-size: var(--fs-sm);
        font-weight: 400;
        color: var(--textColor-light);
    }

    p {
        font-size: 25px;
        font-weight: 400;
        line-height: 60px;

        span {
            color: var(--accent);
        }
    }
    
    p:first-of-type {
        animation: fadeInLeftBig .75s ease-in forwards;
    }
    p:nth-of-type(2) {
        animation: fadeInLeftBig 1.25s ease-in forwards;
    }
    p:nth-of-type(3) {
        animation: fadeInLeftBig 2s ease-in forwards;
    }
    p:last-of-type {
        animation: fadeInLeftBig 2.5s ease-in forwards;
    }
}

@media screen and (min-width: 768px){

    .hero-section {
    
        h1 {
            font-size: var(--fs-md);
        }
    
        h2 {
            font-size: var(--fs-base);
        }
    
        p {
            font-size: 60px;
            line-height: 80px;   
        }
    }
}

@keyframes fadeInLeftBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}