.hero-section {
    //see app.js, height is set through js to get innerHeight of window - header

    padding: 0 var(--pd-base) var(--pd-base) var(--pd-base);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    //overflow: hidden;
    text-align: right;

    &__text {
        padding-bottom: var(--pd-base);
        animation: fadeIn 4s .75s ease-in forwards;
        opacity: 0;
    }

    &__titles {
        padding-bottom: var(--pd-sm);
        
        transform: scaleY(0);
        animation: bottomUp 2s 1.25s ease-in-out forwards;
    }

    h1, h2 {
        margin-bottom: .5em;
    }

    h1 {
        font-size: var(--fs-base);
        font-weight: 400;
        margin-bottom: .5em;
    }

    h2 {
        font-size: var(--fs-sm);
        font-weight: 400;
        color: var(--textColor-light);
        margin-bottom: 1.5em;
    }

    p {
        font-size: 25px;
        font-weight: 400;
        line-height: 60px;

        span {
            color: var(--accent);
        }
    }
    
/*     p:first-of-type {
        animation: fadeInLeftBig .75s ease-in forwards;
    }
    p:nth-of-type(2) {
        animation: fadeInLeftBig 1.25s ease-in forwards;
    }
    p:nth-of-type(3) {
        animation: fadeInLeftBig 2s ease-in forwards;
    }
    p:last-of-type {
        animation: fadeInLeftBig 2.5s ease-in forwards;
    } */

    a#start {
        margin: 0 auto;
        //display: block;
        display: none;
        padding: var(--pd-xs) var(--pd-sm);
        background-color: var(--bgColor-accent);
        color: var(--textColor-base);
        text-transform: none;
        animation: popup 4s 2s ease-in forwards;
        opacity: 0;
        border: 2px solid var(--textColor-base);
        border: 2px solid var(--accent);
        position: absolute;
        left: 50%;
        bottom: -5%;
        transform: translateX(-50);
    
        &:active, 
        &:hover, 
        &:focus {
            background-color: var(--textColor-base);
            color: var(--bgColor-accent);
            border: 2px solid transparent;

        } 

        &.hide {
            animation: fadeOut 1s 0s ease-in forwards;
        }
    }

}

@media screen and (min-width: 768px){

    .hero-section {

        &__text {
            padding-bottom: var(--pd-base);
        }

        &__titles {
            padding-bottom: 0;
        }
          
        h1 {
            font-size: var(--fs-md);
        }
    
        h2 {
            font-size: var(--fs-base);
        }
    
        p {
            font-size: 35px;
            line-height: 60px;   
        }

        a#start {
            margin-bottom: 3em;
        }


/*         a.btn {
            visibility: hidden;
        } */

/*         &::after {
            content: "||";

            padding-top: 2px;
            color: var(--accent);
            font-size: var(--fs-base);
            text-align: center;
            font-weight: bolder;
            
            width: 1.125em;   //18-20px
            height: 2.25em;   //36-40px
            
            border: 2px solid var(--accent);
            border-radius: 1em;

            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 10%;
            
            opacity: 0;
            animation: 
                moveArrow 2s ease-in-out infinite,
                fadeIn 2s 4.5s ease-in-out forwards;
        } */

        &.hideScrollIndicator {
            
            &::after {
                animation: fadeOut 1s 0s ease-in forwards;
            }
        }
    }
}
@media screen and (min-width: 1024px){
    
    .hero-section {

        padding: var(--pd-base);

        h1 {
            font-size: var(--fs-md);
        }
    
        h2 {
            font-size: var(--fs-base);
        }
    
        p {
            font-size: 60px;
            line-height: 80px;   
        }
    }
}


//browser windows with insufficent height to show full hero text
@media screen and (max-height: 500px) {

    .hero-section {
        
        &__text {
            display: none;
        }

        &__titles {
            animation: bottomUp 2s ease-in-out forwards
        }
    }
}

@keyframes fadeInLeftBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}

@keyframes popup {
    from {
      opacity: 0;
      transform: scale(0, 0);
    }
  
    to {
      opacity: 1;
      transform: scale(1, 1);
    }
}

@keyframes moveArrow {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 20%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes bottomUp {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}

@keyframes TopDown {
    from {transform: translateY(-100%);}
    to {transform: translate(0);}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}